<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Some Website</title>
</head>

<body>

  {{> header}}
  <p>The primary focus of this website is to demonstrate super powers of Node.js combined with Express Framework!!</p>

{{> footer}}

</body>
</html>
